<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details of a question</title>
</head>
<body>
<h1>{{ question }}</h1>
{% if error_message %}
    <p>{{ error_message }}</p>
{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}

<!--Display the choices for a question-->
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"/>
    <label for="choice{{ forloop.counter }}">{{ choice }}</label><br/>
{% endfor %}

<br/>
<input type="submit" value="vote"/>
</form>

<br/>
<br/>
<!-- Select another question to view its details and perhaps vote -->
<a href="{% url 'polls:index' %}">Vote on another question?</a>

</body>
</html>